.components-block-support-panel {
	border: none;
	border-top: $border-width solid $gray-200;
	padding: $grid-unit-20;
	margin-top: -1px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: $grid-unit-20;
	row-gap: $grid-unit-30;

	.components-block-support-panel__title {
		margin: 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
		font-weight: 500;
		line-height: normal;
		font-size: inherit;
		grid-column: span 2;

		.components-dropdown-menu {
			height: $grid-unit-30;
			margin-top: -4px;
			margin-bottom: -4px;
		}

		.components-dropdown-menu__toggle {
			padding: 0;
			min-width: $grid-unit-30;
			width: $grid-unit-30;
			height: $grid-unit-30;
		}
	}

	> div {
		padding-bottom: 0;
		margin-bottom: 0;
		max-width: 100%;
	}

	> [id*="inspector-box-control"] {
		grid-column: span 2;
	}
}

.edit-site {
	.components-block-support-panel {
		border-bottom: $border-width solid $gray-200;
	}

	.components-block-support-panel + .components-panel__body {
		margin-top: -1px;
	}
}
